.bigBack {
  background: rgba(140,149,234,0.10);
  display: flex;
  flex-direction: column;
  height: auto;
}

.header{
    display: flex;
    height: 138px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    overflow: auto;
    .back{
        position: absolute;
        left: 50px;
         img{
             width: 24px;
             height: 41px;
         }
    }
    .title{
      display: block;
      font-size: 48px;
      color: #161616;
    }
}
.bgc{
  position: absolute;
  top: 138px;
  z-index: -1;
  height: 458px;
  width: 100%;
  opacity: 0.4;
  background-image: linear-gradient(-77deg, #AE8CEA 0%, #988FF1 40%, #6E96FC 100%);
}
.content{
    height: auto;
    position: relative;
}
.footer{
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
    .first{
      button{
        display: block;
        width: 1000px;
        background-image: linear-gradient(-77deg, #AE8CEA 0%, #988FF1 40%, #6E96FC 100%);
        border-radius: 25px;
        height: 90px;
        opacity: 0.7;
      }
    }
    .middle{
      button{
        background-image: linear-gradient(-77deg, #AE8CEA 0%, #988FF1 40%, #6E96FC 100%);
        width: 453px;
        border-radius: 25px;
        height: 90px;
        opacity: 0.7;
      }
      .btn1{
        margin-right: 48px;
      }
    }
    .end{
      button{
        background-image: linear-gradient(-77deg, #AE8CEA 0%, #988FF1 40%, #6E96FC 100%);
        width: 453px;
        border-radius: 25px;
        height: 90px;
        opacity: 0.7;
      }
      .btn1{
        margin-right: 20px;
      }
    }
}
